.landing_layout{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 4rem;
}
@media only screen and (max-width: 75em) {
  .landing_layout {
    padding: 4rem; 
  }
}
@media only screen and (max-width: 43.75em) {
    .landing_layout {
      flex-direction: column;
      justify-content: flex-start;
    }
  }

.left{
flex-basis: 18%;
}

@media only screen and (max-width: 43.75em) {
	.left {
		width: 90%;
    flex-basis: 90%;
		margin: 0 auto;
	}
}

.content{
    flex-basis: 56%;
    padding-bottom: 4rem;
}

.right{
    flex-basis: 20%;
}


@import url('./leftsidebar/leftsidebar.css');
@import url('./maincontent/maincontent.css');
@import url('./rightsidebar/rightsidebar.css');
/* @import url('./maincontent/maincontent.css'); */