.suggested__pages{
    margin-top: 2rem;
    background-color: #E8D8EC;
    border-radius: 13px;
    padding: 1rem;
}

.suggested__pages__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.suggested__page__img{
    height: 3.5rem;
    cursor: pointer;
}

.suggested__page__info h3{
    font-size: 1.4rem;
    cursor: pointer;
}
.suggested__page__info p{
    font-family: 'Roboto';
    font-size: 1rem;
    color: var(--color-grey-paragraph);
}
.suggested__pages__content button{
    padding: 4px 8px;
    background-color: var(--color-primary-dark);
    color: white;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 15px;
    cursor: pointer;
}

.suggested__page__save__icon{
    width: 1.5rem;
    cursor: pointer;
}